<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminCommon::common-header"></head>
<body class="sb-nav-fixed">
<nav th:replace="adminCommon::common-navbar"></nav>
<div id="layoutSidenav">
    <div th:replace="adminCommon::common-sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Registration Information</h1>

                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/toAdminMain}">HomePage</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/class/selClass}">Course Management</a></li>
                    <li class="breadcrumb-item active">Registration Information</li>
                </ol>

                <div class="card mb-4">

                    <!--Show when classOrderList is empty (no one is enrolled in the course)-->
                    <div th:if="${#lists.isEmpty(classOrderList)}">
                        <table class="table table-hover">
                            <tr>
                                <td align="center">No registration information yet!</td>
                            </tr>
                        </table>
                    </div>

                    <!--Show when classOrderList is not empty (the course is already enrolled)-->
                    <div th:if="${not #lists.isEmpty(classOrderList)}">
                        <table class="table table-hover">
                            <tr>
                                <td text-align="center">Course Number：</td>
                                <td th:text="${classOrderList[0].classId}">Course Number</td>
                            </tr>

                            <tr>
                                <td text-align="center">Course Name:</td>
                                <td th:text="${classOrderList[0].className}">Course Name</td>
                            </tr>
                            <tr>
                                <td text-align="center">Course Start Time:</td>
                                <td th:text="${classOrderList[0].classBegin}">Course start time</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><strong>Enrolled Members:</strong></td>
                            </tr>
                            <tr th:each="order:${classOrderList}">
                                <td th:text="${order.memberAccount}">无</td>
                                <td th:text="${order.memberName}">无</td>
                            </tr>
                        </table>
                    </div>

                    <a th:href="@{/class/selClass}" style="text-align:center;margin-top:10px;margin-bottom:20px">
                        <input type="submit" class="btn btn-outline-secondary" value="Back">
                    </a>
                </div>
            </div>
        </main>
        <footer th:replace="adminCommon::common-footer"></footer>
    </div>
</div>

<div th:include="adminCommon::common-scripts"></div>
</body>
</html>
